---
permalink: contact/
layout: nil
title: Julien Lequertier
---
<!DOCTYPE html>

{% include ie %}
{% include meta %}
<script language="javascript" src="/scripts/lmaie.js"></script>

<title>Julien Lequertier</title>

<body id="contact">
	<div id="wrap">
		<div id="main">
{% include nav %}
			<article>
				<div id="icons">
					<script>lmai2("julien","avrelaun",42,"","<img src='/assets/email.png' />")</script><noscript><img src="/assets/nomail.png" /></noscript>
					<a href="http://twitter.com/avrelaun"><img src="/assets/twitter.png" /></a>
					<a href="skype:avrelaun?add"><img src="/assets/skype.png" /></a>
					<a href="http://www.linkedin.com/in/avrelaun"><img src="/assets/linkedin.png" /></a>
					<a href="http://facebook.com/avrelaun"><img src="/assets/facebook.png" /></a>
					<a href="http://plus.google.com/104733322791968118846"><img src="/assets/googleplus.png" /></a>
					<br /><br /><br />Also reachable via IRC on <a href="irc://irc.geeknode.org">geeknode</a>, <a href="irc://chat.freenode.net">freenode</a> and <a href="irc://irc.mozilla.org">mozilla</a>
				</div>
				<footer>
				<!--				<a href="http://en.wikipedia.org/wiki/Skype#Security_and_privacy">Skype is bad.</a>--> <noscript>You need javascript to email me.</noscript>
				</footer>
			</article>
		</div>
	</div>
{% include aside %}
{% include ga %}
</body>
