---
permalink: projects/
layout: nil
title: Julien Lequertier
---
<!DOCTYPE html>

{% include ie %}
{% include meta %}
<title>Julien Lequertier</title>

<body id="projects">
	<div id="wrap">
		<div id="main">
{% include nav %}
			<article>
				<div id="simplethic">
					<div class="logo">
						<a href="http://www.simplethic.org/"><img src="/assets/simplethic.png" alt="Simplethic" /></a>
					</div>
					<div class="description">
						<a href="http://www.simplethic.org/">Simplethic</a> is a non-profit organisation about making it easy for awesome companies to contribute to a wide range of other non-profits.
					</div>
				</div>
				<div id="others">
					----------------------<br /><br />
					<div class="desc">
						Other things:
					</div>
					<div class="lnks">
						<a href="http://github.com/avrelaun/uberclock/">uberclock</a> - 
						<a href="http://www.r25.fr/">r25.fr</a>
					</div>
					<br /><br />
					<div class="desc">
						Involved with:
					</div>
					<div class="lnks">
						<a href="http://www.fdn.fr/">fdn.fr</a>
					</div>
				</div>
			</article>
		</div>
	</div>
{% include aside %}
{% include ga %}
</body>
