---
permalink: setup/
layout: nil
title: Julien Lequertier
---
<!DOCTYPE html>

{% include ie %}
{% include meta %}
<title>Julien Lequertier</title>

<body id="stuff">
	<div id="wrap">
		<div id="main">
{% include nav %}
			<article>
			<h1>Setup</h1>
			<h2>Main OS</h2>
				<ul>
					<li><div class="list">Operating System</div><a href="https://parabolagnulinux.org/">Parabola</a>
					<li><div class="list">Window Manager</div><a href="http://i3wm.org/">i3</a>
					<li><div class="list">--</div>
					<li><div class="list">Text Editor</div><a href="http://www.vim.org/">Vim</a>
					<li><div class="list">Web Browser</div><a href="https://www.mozilla.org/firefox/">Firefox</a>
					<li><div class="list">--</div>
					<li><div class="list">Document Reader</div><a href="http://mozilla.github.com/pdf.js/">PDF.js</a>
					<li><div class="list">Presentations</div><a href="http://paulrouget.com/dzslides/">DZSlides</a>
					<li><div class="list">Office Suite</div><a href="https://www.libreoffice.org/">LibreOffice</a>
					<li><div class="list">--</div>
					<li><div class="list">IRC Client</div><a href="http://irssi.org/">Irssi</a>
					<li><div class="list">XMPP Client</div><a href="http://mcabber.com/">MCabber</a>
					<li><div class="list">Mail Client</div><a href="http://www.mutt.org/">Mutt</a>
					<li><div class="list">--</div>
					<li><div class="list">Bittorrent Client</div><a href="http://libtorrent.rakshasa.no/">rTorrent</a>
					<li><div class="list">Media Player</div><a href="http://mpv.io/">mpv</a>
				</ul>
			<h2>Mobile OS</h2>
				<ul>
					<li><div class="list">Operating System</div><a href="https://www.mozilla.org/firefoxos/">Firefox OS</a>
				</ul>
			</article>
		</div>
	</div>
{% include aside %}
{% include ga %}
</body>
