---
permalink: setup/
layout: nil
title: Julien Lequertier
---
<!DOCTYPE html>

{% include ie %}
{% include meta %}
<title>Julien Lequertier</title>

<body id="stuff">
	<div id="wrap">
		<div id="main">
{% include nav %}
			<article>
			<h1>Setup</h1>
			<h2>Main OS</h2>
				<ul>
					<li><div class="list">Operating System</div><a href="https://www.archlinux.org/">Arch Linux</a>
					<li><div class="list">Window Manager</div><a href="http://i3wm.org/">i3</a>
					<li><div class="list">--</div>
					<li><div class="list">Text Editor</div><a href="http://www.vim.org/">Vim</a>
					<li><div class="list">Web Browser</div><a href="https://www.mozilla.org/firefox/">Firefox</a>
					<li><div class="list">--</div>
					<li><div class="list">Document Reader</div><a href="http://mozilla.github.com/pdf.js/">PDF.js</a>
					<li><div class="list">Presentations</div><a href="http://paulrouget.com/dzslides/">DZSlides</a>
					<li><div class="list">Office Suite</div><a href="https://www.libreoffice.org/">LibreOffice</a>
					<li><div class="list">--</div>
					<li><div class="list">IRC Client</div><a href="http://irssi.org/">Irssi</a>
					<li><div class="list">XMPP Client</div><a href="http://mcabber.com/">MCabber</a>
					<li><div class="list">Mail Client</div><a href="http://www.mutt.org/">Mutt</a>
					<li><div class="list">--</div>
					<li><div class="list">Bittorrent Client</div><a href="http://libtorrent.rakshasa.no/">rTorrent</a>
					<li><div class="list">Music Player</div><a href="http://cmus.sourceforge.net/">cmus</a>
					<li><div class="list">Video Player</div><a href="http://www.mplayer2.org/">mplayer2</a>
				</ul>
			<h2>Mobile OS</h2>
				<ul>
					<li><div class="list">Operating System</div><a href="https://www.mozilla.org/firefoxos/">Firefox OS</a>
				</ul>
			<h2>Web Apps</h2>
				<ul>
					<li><div class="list">Cloud storage</div><a href="http://owncloud.org/">ownCloud</a>
					<li><div class="list">Webmail</div><a href="http://roundcube.net/">roundcube</a>
					<li><div class="list">--</div>
					<li><div class="list">Contacts</div><a href="http://owncloud.org/">ownCloud</a>
					<li><div class="list">Calendar</div><a href="http://owncloud.org/">ownCloud</a>
					<li><div class="list">Pastebin</div><a href="http://sebsauvage.net/wiki/doku.php?id=php:zerobin/">ZeroBin</a>
					<li><div class="list">--</div>
					<li><div class="list">Feeds aggregator</div><a href="http://tt-rss.org/">Tiny Tiny RSS</a>
				</ul>
			</article>
		</div>
	</div>
{% include aside %}
{% include ga %}
</body>
